<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/my_div.css">
    <title>Document</title>

    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <br>
    <div id="app" >
      <div class="my_div">
        <button @click="getVersion">getVersion</button>
        
        <p>
            <table>
                <tr>
                    <th>apiVersion</th>
                    <th>dbVersion</th>
                  </tr>
                  <tr>
                    <td>{{apiVersion}}</td>
                    <td>{{dbVersion}}</td>
                  </tr>
            </table>
        </p>
    </div>
      <br>
      <br>
      <div class="my_div">
        <button @click="getLanguages">getLanguages</button>
        <p>
            <ul>
                <li v-for="(value, key)  in languages[0]">{{key}}:&emsp;{{value}}</li>
                <br>
                <li v-for="(value, key)  in languages[1]">{{key}}:&emsp;{{value}}</li>
            </ul>
        </p>
    </div>
<br>
<br>
<div class="my_div">
  <input type="text" placeholder="input code" v-model="query">
  <button @click="getElements">getElementDetails</button>
  <p>
      <ul>
          <li v-for="(value, key)  in code[0]">{{key}}:&emsp;{{value}}</li>          
      </ul>
  </p>
</div>

    </div>

    <!-- Import the development environment -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- The official website provides axios online address -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Import js file -->
    <script src="./js/main.js"></script>
  </body>
</html>
